[Desktop Entry]
Name=Dapper Linux
X-KDE-PluginInfo-Name=Dapper Linux
X-KDE-PluginInfo-Author=Dapper Linux
X-KDE-PluginInfo-Email=contact@dapperlinux.com
X-KDE-PluginInfo-License=FAL-1.3
